@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');
@font-face {
    font-family: 'avenirlight';
    src: url("../public/Avenir\ Light.ttf");
    font-weight: normal;
    font-style: normal;
}

.container {
    padding: 0 2rem;
}

.main {
    margin-top: 0px;
    min-height: 30vh;
    width: 100%;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {
    font-size: 1.5em;
    top: -5%;
    text-align: justify;
    font-weight: 300;
    left: 10%;
    position: relative;
    animation: menuVertical;
    animation-duration: 2s;
}

.gaiaText {
    color: #176038;
    font-size: 30px;
    margin-right: 30%;
    left: 2%;
    position: relative;
}

.Subtitulos {
    font-weight: 700;
    color: #176038;
    letter-spacing: normal;
    text-align: center;
    font-size: 45px;
    position: relative;
    margin-bottom: 1%;
    top: 122%;
}

.divfondoBlanco {
    display: grid;
    background-color: white;
}

.SubtitulosC {
    font-weight: 700;
    color: #176038;
    letter-spacing: normal;
    text-align: center;
    font-size: 45px;
    margin-top: 10%;
    left: 0.5;
    position: relative;
}

.SubtitulosIzq {
    color: #176038;
    letter-spacing: normal;
    text-align: left;
    font-size: 45px;
    position: relative;
    left: 6%;
    font-weight: 700;
}

.SubtitulosDer {
    font-family: 'avenirlight', sans-serif;
    color: #176038;
    letter-spacing: normal;
    text-align: right;
    font-size: 45px;
    font-weight: 700;
    position: relative;
    right: 9.5%;
}

.titulosNegros {
    font-size: 42px;
}

.flexFoto {
    display: flex;
    flex-direction: row;
    height: fit-content;
    /*width: fit-content;*/
    padding-bottom: 5%;
    width: 100%;
    align-items: flex-start;
}

.flexFoto>div {
    /*El next Image está en un span, por eso es bueno modificarlo asi*/
    left: 10%;
    bottom: 5%;
    position: relative;
}

.flexFoto>p {
    width: fit-content;
    text-align: justify;
    line-height: 1.5em;
    position: relative;
    margin-right: 10%;
    margin-left: 20%;
}

.gridEquipo {
    display: grid;
    height: fit-content;
    padding-left: 0%;
    padding-bottom: 0%;
    align-items: center;
    margin: 3%;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
}

.ArtMiembro {
    position: relative;
    /*
    border: black solid;
    background-color: #fcb045;
    */
    margin: auto;
    margin-bottom: 25%;
    width: fit-content;
    height: fit-content;
    padding: 1%;
}

.nombreMiembro {
    position: absolute;
    top: 85%;
    left: 20%;
    background-color: white;
    z-index: 2;
    /*border: black solid;*/
    width: 100%;
    height: fit-content;
    text-align: left;
}

.nombreMiembro>p {
    padding-left: 5%;
}

.nombreMiembro>p:nth-child(1) {
    font-weight: bolder;
    font-size: 20px;
}

.nombreMiembro>p:nth-child(2) {
    font-size: 16px;
    font-weight: lighter;
}

.gridEquipo>.ArtMiembro:nth-child(4) {
    margin-left: 75%;
}

.gridEquipo>.ArtMiembro:nth-child(5) {
    margin-left: 75%;
}

.flexEquipo>button {
    margin: auto;
}

.flexContacto {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-left: 4%;
    padding-bottom: 2%;
    align-items: left;
    line-height: normal;
}

.flexContacto>button {
    width: fit-content;
    left: 2%;
    position: relative;
    margin-top: 0.2%;
    margin-bottom: 2%;
}

.flexContacto>p {
    width: fit-content;
    left: 2%;
    position: relative;
    margin-top: -1%;
    margin-bottom: 1%;
}

.flexContacto>h1 {
    letter-spacing: -0.01em;
    width: fit-content;
    margin-top: -1%;
    left: 2%;
    position: relative;
    font-size: 36px;
}

.flexContacto>div {
    width: fit-content;
    left: 2%;
    position: relative;
}

.flexContacto>button {
    margin-left: 1%;
    margin-right: 10%;
}

.flexApoyo {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-left: 0%;
    padding-right: 3%;
    padding-bottom: 2%;
    align-items: center;
    margin: auto;
    margin-bottom: 5%;
}

.flexApoyo>a {
    margin: 2%;
}

.flexApoyo>span {
    position: relative;
}

.flexLogos {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-left: 0%;
    padding-bottom: 2%;
    align-items: flex-start;
    margin-left: 2%;
}

.flexLogos>span {
    position: relative;
    margin-right: 2%;
}

.textoComun {
    padding-left: 9%;
    padding-right: 9%;
    font-size: 1em;
    margin-top: 3%;
    line-height: 1.5em;
    font-family: 'avenirlight', 'sans-serif';
    text-align: center;
}


/*sirve para hacer animaciones*/

@keyframes menuVertical {
    from {
        /*pone color naranja e inicia desde -x*/
        transform: translateY(200%);
    }
    to {
        /*pone color amarillito y acaba en x*/
        transform: translateY(-10%);
    }
}


/*Animacion de fondo gradiente
tomada de: https://github.com/tbcodes/animate_background_css/blob/master/css_code
*/

@keyframes fondoCambiante {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.fotoFondo {
    /* background-image: url("../public/fondo_inicio.png");
    background-size: auto;
    background-repeat: no-repeat; */
    width: 100%;
    top: -10vh;
    position: relative;
    height: 100vh;
    background-image: url("/fondo_inicio.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cajitaBonita {
    margin-top: 2%;
    /* border: wheat 2px solid; */
    padding-left: 2%;
    padding-right: 1.5%;
    border-radius: 2%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: fit-content;
}

.cajitaBonita p {
    font-size: 15px;
    font-family: 'avenirlight';
}

.cajitaBonita span>p {
    color: #2E4121;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
}

.cajitaBonita h1 {
    color: #2E4121;
}

.letrasGrandes {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    color: black;
    font-size: large;
    font-weight: bold;
    font-size: 22px;
    text-align: left;
}

.letrasGrandes p {
    margin-top: 6%;
    margin-left: 5%;
    text-align: left;
}

.imagenSomos {
    width: 20% !important;
    position: relative !important;
    height: 30% !important;
}

.seccionInicio {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    /*background: linear-gradient(150deg, #fcb045, #88b99c, #4f936e);*/
    /*background-size: 400% 300%;*/
    /*animation: fondoCambiante 5s ease infinite;*/
    padding: 2%;
}

.seccionInicio>p {
    position: relative;
    left: 6%;
    text-align: left;
}

.grid4 {
    width: 100%;
    padding: 2%;
    height: 40%;
    display: grid;
    /*
   
    border-style: dashed;
    */
    /*cada fr es una casilla o celda*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.navb {
    top: 4px;
    position: sticky;
    margin: auto;
    margin-top: 2%;
    z-index: 3;
    background-color: white;
    border-radius: 2%;
    /*border: solid rgb(166, 166, 166);*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.navButtons {
    border: transparent solid;
    margin-left: 5px;
    background-color: transparent;
    text-align: center;
    width: fit-content;
    padding: 2%;
    font-size: large;
}

.navButtons:hover {
    background-color: papayawhip;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    color: #176038;
    top: 6%;
    letter-spacing: -0.02em;
    font-weight: bold;
    position: relative;
    right: 25%;
    font-size: 6em;
    text-align: left;
    animation: menuVertical;
    animation-duration: 2s;
}

.title,
.description {
    text-align: center;
}

.botonesInicio {
    font-family: 'Work Sans', sans-serif;
    left: 10%;
    font-size: large;
    position: relative;
    background-color: #176038;
    color: white;
    border-radius: 20px;
    padding: 1.3%;
    border: 0px transparent;
    font-weight: lighter;
    animation: menuVertical;
    animation-duration: 2s;
}

.botonesInicio:hover {
    background-color: #4F936E;
}

.description {
    margin: 2%;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media only screen and (max-width: 640px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
    .navb {
        display: none;
    }
    .botonesInicio {
        left: 10%;
        font-size: medium;
        border-radius: 30px;
        padding: 3%;
        font-weight: lighter;
        animation: menuVertical;
        animation-duration: 2s;
    }
    .gridEquipo {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-left: 0%;
        padding-bottom: 0%;
        align-items: center;
        margin: auto;
        width: fit-content;
    }
    .ArtMiembro {
        position: relative;
        /*
        border: black solid;
        background-color: #fcb045;
        */
        /*
        margin-left: 22%;
        margin-top: 10%;
        margin-bottom: 25%;
        */
        margin: auto;
        width: fit-content;
        height: fit-content;
        padding: 1%;
        margin-bottom: 30%;
    }
    .nombreMiembro {
        position: absolute;
        top: 90%;
        left: 0%;
        background-color: rgb(247, 242, 227);
        z-index: 2;
        /*border: black solid;*/
        width: 100%;
        height: fit-content;
        text-align: left;
    }
    .nombreMiembro>p {
        padding-left: 5%;
    }
    .nombreMiembro>p:nth-child(1) {
        font-weight: bolder;
        font-size: 20px;
    }
    .nombreMiembro>p:nth-child(2) {
        font-size: 16px;
        font-weight: lighter;
    }
    .gridEquipo>.ArtMiembro:nth-child(4) {
        margin: auto;
        margin-bottom: 30%;
    }
    .gridEquipo>.ArtMiembro:nth-child(5) {
        margin: auto;
        margin-bottom: 10%;
    }
    .fotoFondo {
        /* background-image: url("../public/fondo_inicio.png");
        background-size: auto;
        background-repeat: no-repeat; */
        width: 100%;
        top: -10vh;
        position: relative;
        height: 80vh;
        background-image: none;
    }
    .title {
        top: 10%;
        width: min-content;
        letter-spacing: normal;
        font-weight: bold;
        position: relative;
        left: 10%;
        font-size: 6em;
        text-align: left;
        animation: menuVertical;
        animation-duration: 2s;
    }
    .grid4 {
        width: 100%;
        padding: 0%;
        height: fit-content;
        display: grid;
        /*
       
        border-style: dashed;
        */
        /*cada fr es una casilla o celda*/
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "a b" "c d";
        justify-items: center;
    }
    .cajitaBonita {
        margin-top: 0%;
        /* border: wheat 2px solid; */
        padding-left: 0%;
        padding-right: 0%;
        border-radius: 2%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        height: fit-content;
    }
    .letrasGrandes {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: black;
        font-size: large;
        font-weight: bold;
        font-size: 22px;
        text-align: left;
    }
    .letrasGrandes p {
        margin-top: 0%;
        margin-left: 0%;
        text-align: left;
    }
    .grid4>.cajitaBonita:nth-child(1) {
        padding-bottom: 53%;
    }
    .grid4>.cajitaBonita:nth-child(1)>span {
        margin-bottom: -18%;
    }
    .SubtitulosDer {
        font-family: 'avenirlight', sans-serif;
        color: #176038;
        letter-spacing: normal;
        text-align: right;
        font-size: 2.7em;
        font-weight: 700;
        position: relative;
        left: 0%;
        text-align: center;
    }
    .flexFoto {
        display: flex;
        flex-direction: column;
        height: fit-content;
        /*width: fit-content;*/
        padding-bottom: 5%;
        width: fit-content;
        align-items: flex-start;
    }
    .flexFoto>div {
        /*El next Image está en un span, por eso es bueno modificarlo asi*/
        width: 70%;
        left: 15%;
        border-radius: 10%;
    }
    .flexFoto>p {
        width: 70%;
        padding-top: 5%;
        right: 0%;
        text-align: justify;
        line-height: 1.5em;
        position: relative;
        margin: auto;
        font-size: medium;
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .code {
        background: #111;
    }
    .logo img {
        filter: invert(1);
    }
}